* {
    font-family: 'roboto';
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Roboto Condensed', sans-serif;
}

a {
    text-decoration: none;
    margin: 0;
    padding: 0;
}

a:link {
   color: inherit;
}

ul, li {
	list-style: none;
}

img, a, i {
	margin: 0;
	padding: 0;
}

p {
    font-family: 'Open Sans', sans-serif;
}

/* TOP MENU */

.wrap {
    width: 1366px;
    margin: 0 auto;
    display: block;
}

.wrap-foto {
    width: 1720px;
    margin: 0 auto;
    display: block;
}

.row {
    width: 100%;
    margin: 0;
    padding: 0;
}

.menu-top {
    height: 40px;
    background: #00204a;
    color: #fff;
    line-height: 40px;
}

.menu-top a {
    color: #fff;
    margin-right: 10px;
}

.links-right {
    float: right;
    font-size: 12px;
}

/* MAIN MENU */

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
}

.menu-main {
    height: 80px;
    background: #0085ca;
    border-bottom: 2px solid #00204a;
}

.menu-main a {
    color: #fff;
     font-family: roboto;
}

.menu-main-nav {
    float: right;
    line-height: 80px;
}

.logo-menu-main {
    width: 164px;
    height: 38px;
    display: inline-block;
	background: url("../images/logo.png") no-repeat center;
	background-size: 100%;
    position: absolute;
    margin-top: 20px;
}

.dropbtn {
    color: white;
    padding: 31px 10px 29px 10px;
    font-size: 15px;
    font-weight: 700;
    border: none;
    cursor: pointer;
    background: none;
    text-transform: uppercase;
    outline: none;
    font-family: roboto;
}

.dropbtn-home {
    background: #00204a;
    border-bottom: 2px solid #0085ca;
    color: white;
    padding: 31px 10px 29px 10px;
    font-size: 15px;
    font-weight: 700;
    border: none;
    cursor: pointer;
    background: none;
    text-transform: uppercase;
    outline: none;
     font-family: roboto;
}

.dropdown {
    position: relative;
    display: inline-block;
     font-family: roboto;
}

.dropdown:hover .dropbtn {
    background-color: #00204a;
    border-bottom: 2px solid #0085ca;
}

.dropdown-content {
    display: none;
    position: absolute;
    left: 0;
    min-width: 300px;
    background-color: #00204a;
    box-shadow: 0px 3px 4px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content-search {
    display: none;
    position: absolute;
    right: 0;
    top: 78px;
    line-height: 50px;
    background-color: #00204a;
    box-shadow: 0px 3px 4px 0px rgba(0,0,0,0.2);
    z-index: 1;
    width: 300px;
    border-top: 2px solid #0085ca;
    padding: 0 0 0 15px;
}

.dropdown-content-search input[type=text] {
    background: none;
    border: none;
    color:#fff;
    outline: none;
    padding: 8px;
    width: 284px;
}

.dropdown-content a {
    line-height: 50px;
    color: #fff;
    padding: 0 15px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #0085ca;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropdown-content-search {
    display: block;
}

/* SIDEBAR LEFT */

.front-fold-left {
    float: left;
}

.front-fold-right {
    float: right;
}

.front-fold {
    padding-top: 64px;
    margin-bottom: 64px;
}

.front-fold a {
    color: #000;
}

.sidebar-left-newest {
    width: 300px;
    float: left;
    margin-bottom: 64px;
}

.sidebar-left-most-viewed {
    width: 300px;
}

.sidebar-left-newest h3, .front-fold-right-post h3, .povrzani-vesti h3, .sidebar-left-most-viewed h3, .sidebar-right h3 {
    color: #0085ca;
    text-transform: uppercase;
    font-family: roboto;
}

.sb-news {
    height: 94px;
    margin-top: 38px;
    position: relative;
}

.sb-news h5 {
    display: inline;
    font-size: 18px;
    font-weight: 500;
    color: #555;
    font-weight: 700;
}

.sb-news h5:hover {
    color: #00204a;
}

.sb-news img {
    float: left;
    display: inline;
    margin-right: 12px;
}

.sbn-time {
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    text-align: right;
    position: absolute;
    bottom: 4px;
    right: 0;
}

.sbn-bar {
    width: 300px;
    height: 3px;
    background: #0085ca;
    float: left;
}

.sport-small {
    width: 20px;
    height: 20px;
    float: left;
    display: inline;
    position: absolute;
    left: 0;
}

.sport-small img {
    width: 20px;
    height: 20px;
}

.football-small {
    background: #088c6f;
}

.handball-small {
    background: #fa2f2f;
}

.basketball-small {
    background: #ff5200;
}

/* MAIN STORY */

.main-story {
    width: 686px;
    height: 692px;
    margin-left: 40px;
    margin-right: 40px;
    float: left;
}

.main-story h1 {
    font-size: 40px;
    margin: 40px 0;
    font-weight: 500;
    font-family: 'Roboto Condensed', sans-serif;
    /* letter-spacing: 1px; */
    font-weight: 700;
    color: #555555;
}

.main-story h1:hover {
    color: #00204a;
}

.ms-photo, .ms-photo-2 {
    overflow: hidden;
}

.ms-photo-2 {
    width: 328px;
    height: 260px;
    position: absolute;
    bottom: 0;   
}

.ms-photo img, .ms-photo-2 img {
 transition: all .5s ease;
}

.ms-photo img:hover, .ms-photo-2 img:hover{
    -webkit-transform: scale(1.05);
}

.main-story-header {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.main-story-header h2 {
    position: absolute;
    bottom: 5px;
    left: 50px;
    font-size: 40px;
    font-weight: 200;
    color: #088c6f;
    opacity: .5;
}

.msh-bar {
    width: 636px;
    height: 3px;
    background: #088c6f;
    display: block;
    margin-left: 20px;
    position: absolute;
    top: 38px;
    opacity: .2; 
}

.msh-time {
    position: absolute;
    right: 60px;
    bottom: 18px;
}

.msh-comment img {
    position: absolute;
}

.msh-comment {
    position: absolute;
    right: 0;
}

.mshc-counter {
    position: absolute;
    right: 0;
    bottom: 20px;
    font-weight: 700;
    color: #fff;
    width: 44px;
    text-align: center;
}

/* MAIN STORY SUB */

.main-sub-left, .main-sub-right {
    position: relative;
    width: 328px;
    height: 328px;
    float: left;
    margin: 28px 18px 0 0;
    
}

.main-sub-right {
    margin: 28px 0 0 0;
    float: right;
}

.main-sub-left h2, .main-sub-right h2 {
    font-size: 24px;
    font-weight: 700;
    overflow: hidden;
    color: #555555;
}

.main-sub-left h2:hover, .main-sub-right h2:hover {
    color: #00204a;
}

.main-sub-left img, .main-sub-right img {
    position: absolute;
    bottom: 0;
}

.main-sub-sport {
    width: 40px;
    height: 40px;
    position: absolute;
    top: 68px;
}

.main-sub-comment {
    position: absolute;
    left: 270px;
    top: 118px;
}

.msc-counter {
    position: absolute;
    top: -33px;
    font-weight: 600;
    color: #fff;
    width: 44px;
    text-align: center;
}

.msc-counter a {
    color: #fff;
}

.main-sub-time {
    position: absolute;
    width: 144px;
    height: 20px;
    background: #0085ca;
    bottom: 0;
    right: 0;
    font-size: 13px;
    padding: 3px 8px;
    color: #fff;
}

.main-sub-time a {
    color: #fff;
}

/* SIDE BAR RIGHT */

.sidebar-right {
    width: 300px;
    float: right;
}

.sidebar-right h3 {
    margin-bottom: 20px;
}

.sidebar-right table {
    width: 300px;
    border: 1px solid #fff;
}

.sidebar-right th {
    background: #00204a;
    width: 300px;
    color: #fff;
    text-align: left;
    padding: 5px 5px;
}

.sidebar-right td {
    padding: 3px 0 3px 5px;
    font-weight: 500;
}

.sidebar-right-banner {
    width: 300px;
}

.sidebar-right-banner img {
    height: 434px;
    width: 300px;
    margin: 30px 0;
    object-fit: contain;
}

.timovi {
    font-size: 12px;
    font-weight: 500;
    background: #0085ca;
    color: #fff;
    padding: 0 0 0  px;
}

.timovi:nth-child(odd) {
    background: #005792;
}

.timovi th {
    background: none;
    padding: 0;
}

.koeficienti {
    font-size: 14px;
    color: #feb947;
    font-weight: 600;
    border-left: 1px solid #fff;
}

.koeficienti td {
    width: 30px;
    text-align: center;
    background: #0085ca;
}

/* SPORTS SECTION */

.sports-section {
    margin: 64px 0 0 0;
    padding: 64px 0;
    width: 100%;
    /* height: 1080px; */
    background: #efefef;
    float: left;
    position: relative;
}

.sports-section-arrow-left, .sports-section-arrow-right {
    font-size: 72px;
    width: 80px;
    height: 80px;
}

.sports-section-arrow-left i, .sports-section-arrow-right i {
    color: #0085ca;
}

.sports-section-arrow-left {
    position: absolute;
    left: 200px;
    top: 48%;
}

.sports-section-arrow-right {
    position: absolute;
    right: 200px;
    top: 48%;
}

.sports-section a {
    color: #000;
}

.sports {
    margin: 0 25px 0 -25px;
    width: 400px;
    position: relative;
    padding-left: 50px;
}

.sports h4 {
    display: inline;
    font-size: 26px;
    text-transform: uppercase;
    font-weight: 500;
    position: absolute;
    top: 5px;
    left: 100px;
}

.football h4 {
    color: #098c6f;
    font-family: roboto;
}

.basketball h4 {
    color: #ff5200;
    font-family: roboto;
}

.handball h4 {
    color: #c70039;
    font-family: roboto;
}

.tennis h4 {
    color: #71a404;
    font-family: roboto;
}

.hockey h4 {
    color: #4ab3f4;
    font-family: roboto;
}

.mix h4 {
    color: #77736f;
    font-family: roboto;
}

.football img {
    display: inline;
    height: 40px;
}

.sports-section-article {
    position: relative;
    height: 120px;
    margin: 40px auto;
        width: 400px;


}

.sports-section-article img {
    height: 120px;
    display: inline;
}

.sports-section-article h5 {
    display: inline-block;
    font-size: 20px;
    float: right;
    position: absolute;
    font-weight: 500;
    left: 140px;
    overflow: hidden;
    font-weight: 700;
    color: #555555;
}

.sports-section-article h5:hover {
    color: #00204a;
}

.ssa-time {
    float: right;
    position: absolute;
    right: 0;
    bottom: 8px;
}

.ssa-bar-football {
    width: 100%;
    height: 3px;
    background: #098c6f;
    position: absolute;
    bottom: 0;
} 

.ssa-bar-basketball {
    width: 100%;
    height: 3px;
    background: #ff5200;
    position: absolute;
    bottom: 0;
} 

.ssa-bar-handball {
    width: 100%;
    height: 3px;
    background: #c70039;
    position: absolute;
    bottom: 0;
}

.ssa-bar-tennis {
    width: 100%;
    height: 3px;
    background: #71a404;
    position: absolute;
    bottom: 0;
}

.ssa-bar-hockey {
    width: 100%;
    height: 3px;
    background: #4ab3f4;
    position: absolute;
    bottom: 0;
}

.ssa-bar-mix {
    width: 100%;
    height: 3px;
    background: #77736f;
    position: absolute;
    bottom: 0;
} 

/* SOCIAL MEDIA */

.social-media {
    float: left;
    width: 100%;
    padding: 64px;
}

.sm-container {
    float: left;
    width: 431px;
    height: 487px;
    border: 2px solid #00204a;
    margin-right: 36px;
    padding: 5px;
}

.sm-container:last-child {
    margin-right: 0; 
}

/* VIDEO GALERY */

.video-gallery h1, .foto-gallery h1, .foto-gallery-page h1 {
    font-family: Roboto;
    font-size: 24px;
    color: #fff;
    text-align: center;
    margin-bottom: 40px;
}

.foto h1 a {
    color: #00204a;
}

.foto-gallery-page h1 {
    color: #0085ca;
    font-size: 40px;
}

.video-main h2 {
    font-family: Roboto;
    font-size: 26px;
    color: #fff;
    margin: 8px 0 12px 0;
    font-weight: 500;
}

.video h3 {
    font-family: Roboto;
    font-size: 16px;
    color: #fff;
    margin: 10px 0 36px 0;
    font-weight: 500;
}

.video-gallery {
    float: left;
    width: 100%;
    background: #153d71;
    margin-bottom: 736px;
}

.video-gallery a {
    color: #fff;
}

.video-gallery-background {
    width: 100%;
    height: 740px;
    display: inline;
    background: url("../images/video_background.jpg") no-repeat center;
    background-size: 100%;
    position: absolute;
    padding: 64px 0;
}

.video-left, .video-right {
    float: left;
    width: 320px;
    height: 432px;
    margin-right: 20px;
}

.video-main {
    float: left;
    width: 666px;
    height: 432px;
}

.video-right {
    float: right;
}

.more-btn {
    font-size: 20px;
    color: #fff;
    background: #0085ca;
    padding: 6px 18px;
    border: none;
    margin: 80px 0 0 0;
    position: relative;
    left: 46%;
}

/* KOLUMNI */

.columns {
    float: left;
    width: 100%;
    padding: 80px;
    position: relative;
}

.columns .more-btn {
    left: 40%;
}

.columns a {
    color: #fff;
}

.columns h1, .most-commented h1, .expert-tips h1, .tipster-corner h1, .top-tiketi h1 {
    font-family: Roboto;
    font-size: 24px;
    color: #000;
    margin-bottom: 40px;
    text-transform: uppercase;
}

.columns h4 {
    font-family: Roboto;
    font-size: 24px;
    color: #000;
    margin-bottom: 8px;
}

.columns h2 {
    font-size: 20px;
    color: #0085ca;
    margin: 20px 0 10px 0;
}

.column-right a, .column-left a {
    color: #0085ca;
    font-family: roboto condensed;
    font-size: 20px;
}

.column-left, .column-right {
    position: relative;
    float: left;
    width: 660px;
    height: 238px;
    background: #fff;
    margin-right: 40px;
    padding-top: 20px;
    padding-left: 220px;
    padding-right: 20px;
    overflow: hidden;
    border-bottom: 2px solid #999;
}

.column-left img, .column-right img {
    position: absolute;
    bottom: 0;
    left: 0;
}

.column-right {
    margin-right: 0;
}

.columns-arrow-left, .columns-arrow-right {
    font-size: 72px;
}

.columns-arrow-left i, .columns-arrow-right i {
    color: #0085ca;
    font-size: 72px; 
}

.columns-arrow-left {
    position: absolute;
    left: 200px;
    top: 41%;
}

.columns-arrow-right {
    position: absolute;
    right: 200px;
    top: 41%;
}

/* FOTO GALERIJA */

.foto-gallery {
    float: left;
    width: 100%;
    height: 800px;
    position: relative;
    margin: -4px 0;
}

.foto-gallery .more-btn {
    left: 47.5%;
}

.foto-gallery a {
    color: #fff;   
}

.foto h1 {
    color: #00204a;
}

.foto-gallery img {
    margin: 30px 15px 0 15px;
    border: 1px solid #fff;
    transition: all 0.2s ease;
}

.foto-gallery img:hover {
    opacity: .5;
    transform: scale(1.05);
}

.foto-gallery img:last-of-type {
    margin-right: 0;
}

.foto-gallery-background {
    width: 100%;
    height: 800px;
    display: inline;
    background: url("../images/foto_background-1.jpg") no-repeat center;
    background-size: 100%;
    position: absolute;
    padding: 64px 0;
}

.foto-arrow-left, .foto-arrow-right {
    font-size: 72px;
}

.foto-arrow-left i, .foto-arrow-right i {
    color: #fff;
    font-size: 72px;
    /* opacity: .5;  */
}

.foto-arrow-left {
    position: absolute;
    left: 200px;
    top: 41%;
}

.foto-arrow-right {
    position: absolute;
    right: 200px;
    top: 41%;
}

/* MAIL SUBSCRIBE */

.mail-subscribe {
    float: left;
    width: 100%;
    height: 380px;
    margin-bottom: -20px;
}

.mail-subscribe a {
    color: #fff;
}

.mail-subscribe button {
    background: #00204a;
    padding: 12px 30px;
}

.mail-subscribe h2 {
    font-family: roboto;
    color: #fff;
    text-align: center;
    font-size: 24px;
}

.mail-background {
    width: 100%;
    height: 360px;
    display: inline;
    background: url("../images/mail_background.jpg") no-repeat center;
    background-size: 100%;
    position: absolute;
    padding: 64px 0;
}

.mail-subscribe input {
    padding: 10px;
    width: 600px;
    margin: 60px 0 -20px 380px;
}

/* MOST COMMENTED */

.most-commented {
    position: relative;
    float: left;
    width: 100%;
    height: 915px;
    background: #dcebf1;
    padding: 80px 0;
}

.most-commented h1 {
    color: #005792;
}

.mc-article h2 {
    font-family: roboto;
    color: #00204a;
    font-size: 24px;
    font-weight: 700;
    margin: 10px 10px 0 20px;
}

.mc-article p {
    margin: 380px 20px 10px 20px;
}

.mc-article {
    position: relative;
    float: left;
    width: 431px;
    height: 570px;
    margin-right: 36px;
    background: #fff;
}

.mc-article:last-of-type {
    margin-right: 0;
}

.mc-article img {
    position: absolute;
    top: 80px;
    width: 431px;
    height: 350px;
}

.mc-comment img {
    position: absolute;
    width: 50px;
    height: 50px;
    right: 0;
    top: 0;
    text-align: center;
}

.mc-counter a {
    color: #fff;
}

.mc-comment {
    position: absolute;
    text-align: center;
    top: 108px;
    right: 30px;
}

.mc-counter {
    width: 50px;
    position: absolute;
    text-align: center;
    font-size: 20px;
    font-weight: 700;
    right: 0;
    top: 8px;
}

.most-commented a, .expert-tips a {
    color: #fff;
}

.most-commented  .more-btn {
    margin-bottom: 60px;
}

/* EXPERTS TIPS */

.expert-tips {
    width: 100%;
    float: left;
    padding: 80px 0;
    position: relative;
}

.expert-tips h1, .tipster-corner h1 {
    color: #102944;  
}

.et-article {
    position: relative;
    float: left;
    width: 660px;
    height: 292px;
    margin-right: 40px;
    border-bottom: 2px solid #999;
}

.et-article:last-of-type {
    margin-right: 0;
}

.expert-arrow-left, .expert-arrow-right {
    font-size: 72px;
}

.expert-arrow-left i, .expert-arrow-right i {
    color: #0085ca;
    font-size: 72px; 
}

.expert-arrow-left {
    position: absolute;
    left: 200px;
    top: 42%;
}

.expert-arrow-right {
    position: absolute;
    right: 200px;
    top: 42%;
}

.et-article img {
    width: 320px;
    height: 292px;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
}

.et-article h2 {
    font-size: 24px;
    color: #005792;
    margin-left: 340px;
    font-family: roboto;
}

.et-article p {
    margin-left: 340px;
    margin-bottom: 10px;
    position: absolute;
    bottom: 0;
}

/* TIPSTERSKI AGOL */

.tipster-corner {
    width: 100%;
    float: left;
    padding: 80px 0;
    position: relative;
    background: #dadada;
}

.tipster-corner a {
    color: #fff;    
}

.tipster-article {
    float: left;
    width: 431px;
    height: 381px;
    position: relative;
    margin-right: 30px;
    background: #fff;
}

.tipster-article:last-of-type {
    margin-right: 0;
}

.tipster-article img {
    width: 431px;
    height: 186px;
    position: absolute;
}

.tipster-article h2 {
    position: absolute;
    top: 200px;
    left: 20px;
    color: #005792;
    font-family: roboto;
    font-size: 20px;
}

.tipster-article p {
    position: absolute;
    bottom: 20px;
    left: 20px;
}

/* TOP 5 TIKETI */

.tiketi-background {
    width: 100%;
    height: 740px;
    display: inline;
    background: url("../images/tiketi_background.jpg") no-repeat center;
    background-size: 110%;
    position: absolute;
    padding: 80px 0;
}

.top-tiketi {
    float: left;
    width: 100%;
    height: 740px;
}

.top-tiketi h1 {
    color: #fff;
}

.top-tiketi a {
    color: #fff;
}

.tiket img {
    width: 252px;
    height: 392px;
    margin-right: 22px;
}

.tiket img:last-of-type {
    margin-right: 0;
}

.tiket {
    float: left;
}

/* FOOTER */

.footer {
    float: left;
    width: 100%;
    padding: 80px 0 40px 450px;
    background: #dcebf1;    
}

.footer-column {
    float: left;
    width: 260px;
    margin: 0 50px;
}

.footer-column li {
    list-style-type: disc;
    padding: 8px;
    font-size: 16px;
    font-weight: 700;
    color: #00204a;
}

.footer a {
    color: #00204a;
}

.footer i {
    margin-right: 10px;
    font-size: 26px;
    color: #00204a;
}

.footer-column:first-of-type li {
    list-style: none;
}

.footer-sm i {
    font-size: 40px;
    margin-right: 20px;
}

.footer-p {
    width: 100%;
    float: left;
    text-align: center;
    font-size: 12px;
    padding: 0px 0 40px 0;
    background: #dcebf1;
}

/* SLIDER SECTIONS*/

.my-slider {
    /* width: 100%;
    margin: 0 auto; */
}

.tns-nav {
    /* display: none; */
}

.tns-visualy-hidden {
    /* display: none; */
}

.tns-controls button[data-controls="prev"] {
    font-size: 100px;
    position: absolute;
    left: 200px;
    top: 48%;
    background: none;
    border: none;
    outline:none;
    color: #0085ca;   
}

.tns-controls button[data-controls="next"] {
    font-size: 100px;
    position: absolute;
    right: 200px;
    top: 48%;
    background: none;
    border: none;
    outline:none;
    color: #0085ca;
}

.tns-controls button[data-action="stop"] {
    background: #efefef;
    border: none;
}

.tns-visually-hidden {
    display: none;
}

/* SECTION PAGE */

.ss-left {
    float: left;
    margin-top: 183px;
    width: 300px;
}

.ss-link-basketball, .ss-link-handball, .ss-link-hockey, .ss-link-volley, .ss-link-tennis, .ss-link-moto, .ss-link-mix {
    position: relative;
    font-size: 26px;
    height: 54px;
    margin-bottom: 64px;
}

.ss-link-basketball a, .ss-link-handball a, .ss-link-hockey a, .ss-link-volley a, .ss-link-tennis a, .ss-link-moto a, .ss-link-mix a {
    position: absolute;
    bottom: 12px;
    left: 70px;
    color: #666;
}

.ss-link-handball a {
    /* color: #c70039; */
}

.ss-link-hockey a {
    /* color: #4ab3f4; */
}

#cub, #cuh, #cuho, #cuv, #cut, #cum, #cumi {
    display: none;
}

.ss-link-hide {
    margin: -20px 0 40px 0;
    display: none;
}

.select {
    position: absolute;
    right: 0;
    bottom: 18px;
    width: 24px;
    height: 24px;
    border: none;
    outline: none;
    background: none;
}

.ss-link-basketball i, .ss-link-handball i, .ss-link-hockey i, .ss-link-volley i, .ss-link-tennis i, .ss-link-moto i, .ss-link-mix i {
    position: absolute;
    right: 0;
    bottom: 0px;
    font-size: 26px;
    color: #ff5200;
}

.ss-link-handball i {
    color: #c70039; 
}

.ss-link-hockey i {
    color: #4ab3f4;
}

.ss-link-volley i {
    color: #005792;
}

.ss-link-tennis i {
    color: #71a404;
}

.ss-link-moto i {
    color: #4b4036;
}

.ss-link-mix i {
    color: #77736f;
}

.ss-link-basketball img, .ss-link-handball img, .ss-link-hockey img, .ss-link-volley img, .ss-link-tennis img, .ss-link-moto img, .ss-link-mix img {
    width: 54px;
    height: 54px;
    margin-right: 8px;
}

.ss-link-b-bar, .ss-link-ha-bar, .ss-link-ho-bar, .ss-link-v-bar, .ss-link-t-bar, .ss-link-m-bar, .ss-link-mi-bar {
    position: absolute;
    width: 278px;
    height: 2px;
    background: #ff5200;
    bottom: 0;
    right: 0;
}

.ss-link-ha-bar {
    background: #c70039;
}

.ss-link-ho-bar {
    background: #4ab3f4;
}

.ss-link-v-bar {
    background: #005792;
}

.ss-link-t-bar {
    background: #71a404;
}

.ss-link-m-bar {
    background: #4b4036;
}

.ss-link-mi-bar {
    background: #77736f;
}

/* SECTION PAGE MAIN */

.section-main-content {
    float: right;
    width: 1026px;
}

.section-main-content > .more-btn {
    margin-top: 10px;
    margin-bottom: 80px;
}

.section-main-content a {
    color: inherit;
}

.section-header {
    position: relative;
    margin: 54px 0;
}

.section-header img {
    width: 76px;
    height: 76px;
    opacity: .3;
}

.section-header h1 {
    font-family: roboto;
    color: #088c6f;
    font-size: 58px;
    font-weight: 400;
    opacity: .3;
    position: absolute;
    right: 0;
    top: 0;
}

.section-header-bar {
    background: #088c6f;
    width: 96%;
    height: 3px;
    opacity: 0.3;
    position: absolute;
    right: 0;
    bottom: 4px;
}

.section-main-article-left, .section-main-article-right {
    position: relative;
    width: 100%;
    height: 434px;
    margin-bottom: 60px;
}

.section-main-article-left img {
    float: left;
    margin-right: 30px;
}

.section-main-article-right img {
    float: right;
    margin-left: 30px;
}

.section-main-article-left h2, .section-main-article-right h2 {
    width: 480px;
    float: left;
    /* font-family: roboto; */
    color: #00204a;
    font-size: 36px;
    font-weight: 600;
    margin: 30px 0;
}

.arrow-left {
    position: absolute;
    width: 0; 
    height: 0; 
    border-top: 50px solid transparent;
    border-bottom: 50px solid transparent;
    border-right:30px solid #fff;
    display: inline;
    left: 478px;
    top: 20px; 
}

.arrow-right {
    position: absolute;
    width: 0; 
    height: 0; 
    border-top: 50px solid transparent;
    border-bottom: 50px solid transparent;
    border-left:30px solid #fff;
    display: inline;
    left: 518px;
    top: 20px; 
}

.sma-bar {
    position: absolute;
    width: 96.6%;
    height: 4px;
    background: #088c6f;
    bottom: 0;
    left: 0;
}

.sma-bar-right {
    position: absolute;
    width: 98.6%;
    height: 4px;
    background: #088c6f;
    bottom: 0;
    right: 0;
}

.sma-time {
    position: absolute;
    font-size: 16px;
    bottom: 10px;
    left: 528px;
}

.sma-time-right {
    position: absolute;
    font-size: 16px;
    bottom: 10px;
    right: 528px;
}

.sma-time i, .sma-time-right i {
    font-size: 20px;
    margin-right: 8px;
}

.sma-comm {
    position: absolute;
    right: -30px;
    bottom: 0;
}

.sma-comm-right {
    position: absolute;
    left: -30px;
    bottom: 0;
}

.sma-comm img, .sma-comm-right img {
    width: 50px;
    height: 50px;
}

.sm-count {
    position: absolute;
    right: 8px;
    bottom: 20px;
    font-size: 20px;
    font-weight: 700;
    color: #fff;
}

.sm-count-right {
    position: absolute;
    left: 8px;
    bottom: 20px;
    font-size: 20px;
    font-weight: 700;
    color: #fff;
}

/* POST PAGE */

.front-fold-left-post {
    margin: 130px 40px 80px 0;
    float: left;
}

.front-fold-right-post {
    width: 300px;
    margin: 130px 0 80px 0;
    float: right;
}

.post {
    float: left;
    width: 696px;
}

.post-header {
    position: relative;
    float: left;
    width: 100%;
    margin: 40px 0;
}

.post-header h2 {
    position: absolute;
    bottom: 5px;
    right: 0;
    font-size: 40px;
    font-weight: 200;
    color: #088c6f;
    opacity: .5;
}

.ph-bar {
    width: 686px;
    height: 3px;
    background: #088c6f;
    display: block;
    margin-left: 20px;
    position: absolute;
    right: 0;
    top: 38px;
    opacity: .2; 
}

.post h1 {
    float: left;
    display: inline;
    font-size: 40px;
    margin-bottom: 40px;
}

.post-subhead {
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    font-weight: 600;
    color: #555;
}

.post-pic {
    width: 696px;
    margin: 20px 0 40px 0;
}

.post-time {
    float: right;
}

.ps-bar {
    width: 100%;
    height: 1px;
    background: #0085ca;
    float: left;
    margin: 2px 0 60px 0;
}

.post p {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 16px;    
}

.post p:last-of-type {
    margin-bottom: 80px;
}

.post-share {
    width: 100%;
    line-height: 40px;
    text-align: center;
    position: relative;
}

.post-share i {
    color: #fff;
    font-size: 22px;
    margin-top: 10px;
}

.post-share p {
    font-family: 'roboto';
    font-size: 18px;
    font-weight: 700;
    color: #00204a;
    margin: 6px 12px 0 12px;
}

.post-share span {
    float: left;
    height: 40px;
}

.ps-fb, .ps-tw, .ps-vi {
    width: 40px;
    height: 40px;
    background: #3b5998;
}

.ps-tw {
    background: #00aced;
}

.ps-vi {
    background: #59267c;
}

.ps-vi img {
    width: 32px;
    height: 32px;
    margin-top: 4px;
}

.ps-ko {
    position: absolute;
    right: 110px;
}

.ps-ko p {
    position: absolute;
    right: -6px;
    top: -5px;
    color: #fff;
    font-weight: 700;
}

.ps-ko-bt {
    position: absolute;
    right: 0;
    top: 5px;
    border: none;
    background: none;
    font-size: 18px;
    font-weight: 700;
    color: #00204a;
    outline: none;
    cursor: pointer;
}

.post-share > .ps-bar {
    width: 100%;
    height: 1px;
    background: #0085ca;
    float: left;
    margin: 0px 0 60px 0;
}

/* POVRZANI VESTI */

.povrzani-vesti {
    float: left;
    width: 100%;
}

.pv-article {
    width: 100%;
    height: 94px;
    margin: 40px 0;
    position: relative;
}

.pv-article h5 {
    font-size: 24px;
    font-weight: 500;
    color: #555;
    font-weight: 700;
    font-family: 'roboto';
    position: absolute;
    top: 0;
    left: 120px;
}

.pv-article h5:hover {
    color: #00204a;
}

.pv-article .sbn-time {
    font-size: 14px;
}

.pv-bar {
    position: absolute;
    width: 100%;
    height: 2px;
    background: #0085ca;
    bottom: 0;
}

.povrzani-vesti .more-btn {
    font-size: 20px;
    color: #fff;
    background: #0085ca;
    padding: 8px 12px;
    border: none;
    margin: 80px 0 80px -60px;
    position: relative;
    
    text-align: center;
    width: 30%;
}

/* COMMENT BOX */

.comment-box {
    float: left;
    width: 100%;
    display: none;
}

.comment-box textarea {
    width: 100%;
    padding: 10px;
    color: #555;
}

.comment-box button {
    float: right;
    border: none;
    background: #0085ca;
    padding: 8px 12px;
    font-size: 14px;
    font-weight: 700;
    color: #fff;
    margin: 20px 0;
}

.comments {
    float: left;
    background: #dedede;
    width: 100%;
    margin-bottom: 80px;
}

.comment-prev {
    width: 100%;
    padding: 12px;
}

.comment-prev p {
    margin: 5px 0;
    font-size: 14px;
    font-family: 'open sans';
}

.comment-prev p:last-of-type {
    margin: 0;
}

.comment-name {
    font-size: 14px;
    font-weight: 700;
    color: #00204a;
}

.comment-time {
    font-size: 14px;
    float: right;
}

.comment-bar {
    float: left;
    width: 100%;
    height: 1px;
    background: #0085ca;
}

.comments button {
    margin: 20px 270px 40px 0;
}

/* POST PAGE KVOTI */

/* .front-fold-right-post {
    position: fixed;
    top: 120px;
    right: 260px;
    z-index: 101;
} */

.front-fold-right-post h3 {
    margin-bottom: 38px;
}

.ffr-header {
    font-size: 14px;
    font-weight: 700;
    background: #00204a;
    color: #fff;
    padding: 8px 0 8px 8px;
}

.front-fold-right-post thead {
    padding: 4px 0;
    font-size: 16px;
    font-weight: 700;
}

.igra {
    width: 210px;
}

.kvota {
    width: 30px;
    text-align: center;
}

.klubovi, .ime-igra {
    float: left;
    width: 170px;
    height: 15px;
    background: #0085ca;
    font-size: 12px;
    font-weight: 700;
    padding-left: 4px;
}

.ffr-header table {
    width: 300px;
}

.klubovi a {
    color: #fff;
}

.koeficient, .koeficient-igra, .koeficient-igra-1 {
    height: 30px;
    background: #0085ca;
    font-size: 14px;
    text-align: center;
    font-weight: 700;
    padding: 0 6px;
}

.koeficient-igra {
    background: #005792;
}

.koeficient-igra span, .koeficient-igra-1 span {
    color: #fee0ae;
    font-size: 12px;
}

.koeficient a, .koeficient-igra a, .koeficient-igra-1 a {
    color: #feb947;
}

.ime-igra, .ime-igra-1 {
    height: 40px;
    width: 84px;
    float: left;
    background: #005792;
    font-size: 12px;
    font-weight: 700;
    padding: 6px 4px;
    line-height: 100%;
}

.ime-igra a, .ime-igra-1 a {
    color: #fff;
}

.ime-igra-1 {
    background: #0085ca;
}

/* FOTO GALLERY PAGE */

.foto-gallery-page {
    width: 100%;
    padding: 80px 0;
    
    box-sizing: border-box;
}

.foto-slider {
    position: relative;
    width: 100%;
    height: 560px;
    margin-bottom: 80px;
}

.f-slides {
    
    display: none;
    overflow: hidden;
}

.fs-foto {
    float: left;
    margin: 20px 24px;
    object-fit: contain;
}

.fs-foto img {
    width: 293px;
    height: 240px;
    object-fit: cover;
    transition: all 0.2s ease;
}

.fs-foto img:hover {
    transform: scale(1.05);
    opacity: .6;
}

.fs-foto:last-of-type {
    /* margin-right: 0; */
}

.prev, .next, .prev-lb, .next-lb {
  cursor: pointer;
  position: absolute;
  top: 245px;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: #0085ca;
  font-weight: bold;
  font-size: 68px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}

.prev {
    left: -50px;
}

.prev-lb {

    top: 35%;
    left: -60px;
    color: #fff;
}

.next {
   
  right: -50px;
  border-radius: 3px 0 0 3px;
}

.next-lb {

    top: 35%;
    right: -60px;
    color: #fff;
}

.prev-lb:hover, .next-lb:hover {
    opacity: 0.5;
}


/* FADE EFECT */

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* LIGHTBOX */

.f-slides-lb {
    display: none;
}

.modal {
  display: none;
  position: fixed;
  z-index: 5000;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  /* height: 100%; */
  /* overflow: auto; */
  background-color: black;
  overflow: hidden;
}

/* Modal Content */

.modal-content {
  position: relative;
  margin: auto;
  padding: 0;
  width: 90%;
  width: 1200px;
  height: 960px;
  object-fit: contain;
}

.modal-content img {
    max-width: 1200px;
}

.close {
  color: white;
  position: absolute;
  top: 10px;
  right: 25px;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #999;
  text-decoration: none;
  cursor: pointer;
}






