* {
    font-family: 'roboto';
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Roboto Condensed', sans-serif;
}

a {
    text-decoration: none;
    margin: 0;
    padding: 0;
}

ul, li {
	list-style: none;
}

img, a, i {
	margin: 0;
	padding: 0;
}

/* TOP MENU */

.wrap {
    width: 1366px;
    margin: 0 auto;
    display: block;
}

.wrap-foto {
    width: 1720px;
    margin: 0 auto;
    display: block;
}

.row {
    width: 100%;
    margin: 0;
    padding: 0;
}

.menu-top {
    height: 40px;
    background: #00204a;
    color: #fff;
    line-height: 40px;
}

.menu-top a {
    color: #fff;
    margin-right: 10px;
}

.links-right {
    float: right;
    font-size: 12px;
}

/* MAIN MENU */

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
  }

.menu-main {
    height: 80px;
    background: #0085ca;
    border-bottom: 2px solid #00204a;

}

.menu-main a {
    color: #fff;
     font-family: roboto;
}

.menu-main-nav {
    float: right;
    line-height: 80px;

}

.logo-menu-main {
    width: 164px;
    height: 38px;
    display: inline-block;
	background: url("../images/logo.png") no-repeat center;
	background-size: 100%;
    position: absolute;
    margin-top: 20px;
}

.dropbtn {
    color: white;
    padding: 31px 10px 29px 10px;
    font-size: 15px;
    font-weight: 700;
    border: none;
    cursor: pointer;
    background: none;
    text-transform: uppercase;
    outline: none;
    font-family: roboto;
}

.dropbtn-home {
    background: #00204a;
    border-bottom: 2px solid #0085ca;
    color: white;
    padding: 31px 10px 29px 10px;
    font-size: 15px;
    font-weight: 700;
    border: none;
    cursor: pointer;
    background: none;
    text-transform: uppercase;
    outline: none;
     font-family: roboto;
}

.dropdown {
    position: relative;
    display: inline-block;
     font-family: roboto;
}

.dropdown:hover .dropbtn {
    background-color: #00204a;
    border-bottom: 2px solid #0085ca;
}

.dropdown-content {
    display: none;
    position: absolute;
    left: 0;
    min-width: 300px;
    background-color: #00204a;
    box-shadow: 0px 3px 4px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content-search {
    display: none;
    position: absolute;
    right: 0;
    top: 78px;
    line-height: 50px;
    background-color: #00204a;
    box-shadow: 0px 3px 4px 0px rgba(0,0,0,0.2);
    z-index: 1;
    width: 300px;
    border-top: 2px solid #0085ca;
    padding: 0 0 0 15px;
}

.dropdown-content-search input[type=text] {
    background: none;
    border: none;
    color:#fff;
    outline: none;
    padding: 8px;
    width: 284px;
}

.dropdown-content a {
    line-height: 50px;
    color: #fff;
    padding: 0 15px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #0085ca;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropdown-content-search {
    display: block;
}

/* SIDEBAR LEFT */

.front-fold-left {
    float: left;
}

.front-fold-right {
    float: right;
}

.front-fold {
    padding-top: 64px;
    margin-bottom: 64px;
}

.front-fold a {
    color: #000;
}

.sidebar-left-newest {
    width: 300px;
    float: left;
    margin-bottom: 64px;
}

.sidebar-left-most-viewed {
    width: 300px;
}

.sidebar-left-newest h3, .sidebar-left-most-viewed h3, .sidebar-right h3 {
    color: #0085ca;
    text-transform: uppercase;
     font-family: roboto;
}

.sb-news {
    height: 94px;
    margin-top: 38px;
    position: relative;
}

.sb-news h5 {
    display: inline;
    font-size: 18px;
    font-weight: 500;
}

.sb-news img {
    float: left;
    display: inline;
    margin-right: 12px;
}

.sbn-time {
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    text-align: right;
    position: absolute;
    bottom: 4px;
    right: 0;
}

.sbn-bar {
    width: 300px;
    height: 3px;
    background: #0085ca;
    float: left;
}

.sport-small {
    width: 20px;
    height: 20px;
    float: left;
    display: inline;
    position: absolute;
    left: 0;
}

.sport-small img {
    width: 20px;
    height: 20px;
}

.football-small {
    background: #088c6f;
}

.handball-small {
    background: #fa2f2f;
}

.basketball-small {
    background: #ff5200;
}

/* MAIN STORY */

.main-story {
    width: 686px;
    height: 692px;
    margin-left: 40px;
    margin-right: 40px;
    float: left;
}

.main-story h1 {
    font-size: 40px;
    margin: 40px 0;
    font-weight: 500;
    font-family: 'Roboto Condensed', sans-serif;
    letter-spacing: -1px;
}

.main-story-header {
    position: relative;
    width: 100%;
}

.main-story-header h2 {
    position: absolute;
    bottom: 5px;
    left: 50px;
    font-size: 40px;
    font-weight: 200;
    color: #088c6f;
    opacity: .5;
}

.msh-bar {
    width: 636px;
    height: 3px;
    background: #088c6f;
    display: block;
    margin-left: 20px;
    position: absolute;
    top: 38px;
    opacity: .2; 
}

.msh-time {
    position: absolute;
    right: 60px;
    bottom: 18px;
}

.msh-comment img {
    position: absolute;
}

.msh-comment {
    position: absolute;
    right: 0;
}

.mshc-counter {
    position: absolute;
    right: 0;
    bottom: 20px;
    font-weight: 700;
    color: #fff;
    width: 44px;
    text-align: center;
}

/* MAIN STORY SUB */

.main-sub-left, .main-sub-right {
    position: relative;
    width: 328px;
    height: 328px;
    float: left;
    margin: 28px 18px 0 0;
}

.main-sub-right {
    margin: 28px 0 0 0;
    float: right;
}

.main-sub-left h2, .main-sub-right h2 {
    font-size: 24px;
    font-weight: 500;
    overflow: hidden;
}

.main-sub-left img, .main-sub-right img {
    position: absolute;
    bottom: 0;
}

.main-sub-sport {
    width: 40px;
    height: 40px;
    position: absolute;
    top: 68px;
}

.main-sub-comment {
    position: absolute;
    left: 270px;
    top: 118px;
}

.msc-counter {
    position: absolute;
    top: -33px;
    font-weight: 600;
    color: #fff;
    width: 44px;
    text-align: center;
}

.msc-counter a {
    color: #fff;
}

.main-sub-time {
    position: absolute;
    width: 144px;
    height: 20px;
    background: #0085ca;
    bottom: 0;
    right: 0;
    font-size: 13px;
    padding: 3px 8px;
    color: #fff;
}

.main-sub-time a {
    color: #fff;
}

/* SIDE BAR RIGHT */

.sidebar-right {
    width: 300px;
    float: right;
}

.sidebar-right h3 {
    margin-bottom: 20px;
}

.sidebar-right table {
    width: 300px;
    border: 1px solid #fff;
}

.sidebar-right th {
    background: #00204a;
    width: 300px;
    color: #fff;
    text-align: left;
    padding: 5px 5px;
}

.sidebar-right td {
    padding: 3px 0 3px 5px;
    font-weight: 500;
}

.sidebar-right-banner {
    width: 300px;
}

.sidebar-right-banner img {
    height: 434px;
    width: 300px;
    margin: 76px 0;
    object-fit: contain;
}

.timovi {
    font-size: 12px;
    font-weight: 500;
    background: #0085ca;
    color: #fff;
    padding: 0 0 0  px;
}

.timovi:nth-child(odd) {
    background: #005792;
}

.timovi th {
    background: none;
    padding: 0;
}

.koeficienti {
    font-size: 14px;
    color: #feb947;
    font-weight: 600;
    border-left: 1px solid #fff;
}

.koeficienti td {
    width: 30px;
    text-align: center;
    background: #0085ca;
}

/* SPORTS SECTION */

.sports-section {
    margin: 64px 0 0 0;
    padding: 64px 0;
    width: 100%;
    height: 1080px;
    background: #efefef;
    float: left;
    position: relative;
}

.sports-section-arrow-left, .sports-section-arrow-right {
    font-size: 72px;
    width: 80px;
    height: 80px;
}

.sports-section-arrow-left i, .sports-section-arrow-right i {
    color: #0085ca;
}

.sports-section-arrow-left {
    position: absolute;
    left: 300px;
    top: 48%;
}

.sports-section-arrow-right {
    position: absolute;
    right: 300px;
    top: 48%;
}

.sports-section a {
    color: #000;
}

.sports {
    width: 460px;
    float: left;
    /* margin-right: 38px; */
    position: relative;
}

.sports:last-child {
    margin-right: 0;
}

.sports h4 {
    display: inline;
    font-size: 26px;
    text-transform: uppercase;
    font-weight: 500;
    position: absolute;
    top: 5px;
    left: 50px;
}

.football h4 {
    color: #098c6f;
     font-family: roboto;
}

.basketball h4 {
    color: #ff5200;
    font-family: roboto;
}

.handball h4 {
    color: #c70039;
     font-family: roboto;
}

.tennis h4 {
    color: #71a404;
     font-family: roboto;
}

.hockey h4 {
    color: #4ab3f4;
     font-family: roboto;
}

.mix h4 {
    color: #77736f;
     font-family: roboto;
}

.football img {
    display: inline;
    height: 40px;
}

.sports-section-article {
    position: relative;
    height: 150px;
    margin: 20px 0;
}

.sports-section-article img {
    height: 150px;
    display: inline;
}

.sports-section-article h5 {
    display: inline-block;
    width: 260px;
    font-size: 22px;
    float: right;
    position: absolute;
    font-weight: 500;
    left: 170px;
    overflow: hidden;
}

.ssa-time {
    float: right;
    position: absolute;
    right: 28px;
    bottom: 8px;
}

.ssa-bar-football {
    width: 430px;
    height: 3px;
    background: #098c6f;
    position: absolute;
    bottom: 0;
} 

.ssa-bar-basketball {
    width: 430px;
    height: 3px;
    background: #ff5200;
    position: absolute;
    bottom: 0;
} 

.ssa-bar-handball {
    width: 430px;
    height: 3px;
    background: #c70039;
    position: absolute;
    bottom: 0;
}

.ssa-bar-tennis {
    width: 430px;
    height: 3px;
    background: #71a404;
    position: absolute;
    bottom: 0;
}

.ssa-bar-hockey {
    width: 430px;
    height: 3px;
    background: #4ab3f4;
    position: absolute;
    bottom: 0;
}

.ssa-bar-mix {
    width: 430px;
    height: 3px;
    background: #77736f;
    position: absolute;
    bottom: 0;
} 

/* SOCIAL MEDIA */

.social-media {
    float: left;
    width: 100%;
    padding: 64px;
}

.sm-container {
    float: left;
    width: 431px;
    height: 487px;
    border: 2px solid #00204a;
    margin-right: 36px;
    padding: 5px;
}

.sm-container:last-child {
    margin-right: 0; 
}

/* VIDEO GALERY */

.video-gallery h1, .foto-gallery h1 {
    font-family: Roboto;
    font-size: 24px;
    color: #fff;
    text-align: center;
    margin-bottom: 40px;
}

.video-main h2 {
    font-family: Roboto;
    font-size: 26px;
    color: #fff;
    margin: 8px 0 12px 0;
    font-weight: 500;
}

.video h3 {
    font-family: Roboto;
    font-size: 16px;
    color: #fff;
    margin: 10px 0 36px 0;
    font-weight: 500;
}

.video-gallery {
    float: left;
    width: 100%;
    background: #153d71;
    margin-bottom: 736px;
}

.video-gallery a {
    color: #fff;
}

.video-gallery-background {
    width: 100%;
    height: 740px;
    display: inline;
    background: url("../images/video_background.jpg") no-repeat center;
    background-size: 100%;
    position: absolute;
    padding: 64px 0;
}

.video-left, .video-right {
    float: left;
    width: 320px;
    height: 432px;
    margin-right: 20px;
}

.video-main {
    float: left;
    width: 666px;
    height: 432px;
}

.video-right {
    float: right;
}

.more-btn {
    font-size: 20px;
    color: #fff;
    background: #0085ca;
    padding: 6px 18px;
    border: none;
    margin: 80px 0 0 0;
    position: relative;
    left: 46%;
}

/* KOLUMNI */

.columns {
    float: left;
    width: 100%;
    background: #dfdfdf;
    padding: 80px;
    position: relative;
}

.columns a {
    color: #fff;
}

.columns h1, .most-commented h1, .expert-tips h1, .tipster-corner h1, .top-tiketi h1 {
    font-family: Roboto;
    font-size: 24px;
    color: #000;
    margin-bottom: 40px;
    text-transform: uppercase;
}

.columns h4 {
    font-family: Roboto;
    font-size: 24px;
    color: #000;
    margin-bottom: 8px;
}

.columns h2 {
    font-size: 20px;
    color: #0085ca;
    margin: 20px 0 10px 0;
}

.column-right a, .column-left a {
    color: #0085ca;
    font-family: roboto condensed;
    font-size: 20px;
}

.column-left, .column-right {
    position: relative;
    float: left;
    width: 660px;
    height: 238px;
    background: #fff;
    margin-right: 40px;
    padding-top: 20px;
    padding-left: 220px;
    padding-right: 20px;
    overflow: hidden;
}

.column-left img, .column-right img {
    position: absolute;
    bottom: 0;
    left: 0;
}

.column-right {
    margin-right: 0;
}

.columns-arrow-left, .columns-arrow-right {
    font-size: 72px;
}

.columns-arrow-left i, .columns-arrow-right i {
    color: #0085ca;
    font-size: 72px; 
}

.columns-arrow-left {
    position: absolute;
    left: 300px;
    top: 41%;
}

.columns-arrow-right {
    position: absolute;
    right: 300px;
    top: 41%;
}

/* FOTO GALERIJA */

.foto-gallery {
    float: left;
    width: 100%;
    height: 800px;
    position: relative;
    margin: -4px 0;
}

.foto-gallery a {
    color: #fff;   
}

.foto-gallery img {
    margin: 30px 10px 0 10px;
}

.foto-gallery-background {
    width: 100%;
    height: 800px;
    display: inline;
    background: url("../images/foto_background.jpg") no-repeat center;
    background-size: 100%;
    position: absolute;
    padding: 64px 0;
}

.foto-arrow-left, .foto-arrow-right {
    font-size: 72px;
}

.foto-arrow-left i, .foto-arrow-right i {
    color: #fff;
    font-size: 72px;
    opacity: .5; 
}

.foto-arrow-left {
    position: absolute;
    left: 120px;
    top: 41%;
}

.foto-arrow-right {
    position: absolute;
    right: 120px;
    top: 41%;
}

/* MAIL SUBSCRIBE */

.mail-subscribe {
    float: left;
    width: 100%;
    height: 380px;
    margin-bottom: -20px;

}

.mail-subscribe a {
    color: #fff;
}

.mail-subscribe button {
    background: #00204a;
    padding: 12px 30px;
}

.mail-subscribe h2 {
    font-family: roboto;
    color: #fff;
    text-align: center;
    font-size: 24px;
}

.mail-background {
    width: 100%;
    height: 360px;
    display: inline;
    background: url("../images/mail_background.jpg") no-repeat center;
    background-size: 100%;
    position: absolute;
    padding: 64px 0;
}

.mail-subscribe input {
    padding: 10px;
    width: 600px;
    margin: 60px 0 -20px 380px;
}

/* MOST COMMENTED */

.most-commented {
    position: relative;
    float: left;
    width: 100%;
    height: 915px;
    background: #dcebf1;
    padding: 80px 0;
}

.most-commented h1 {
    color: #005792;
}

.mc-article h2 {
    font-family: roboto;
    color: #00204a;
    font-size: 24px;
    font-weight: 700;
    margin: 10px 10px 0 20px;
}

.mc-article p {
    margin: 380px 20px 10px 20px;
}

.mc-article {
    position: relative;
    float: left;
    width: 431px;
    height: 570px;
    margin-right: 36px;
    background: #fff;
}

.mc-article:last-of-type {
    margin-right: 0;
}

.mc-article img {
    position: absolute;
    top: 80px;
    width: 431px;
    height: 350px;
}

.mc-comment img {
    position: absolute;
    width: 50px;
    height: 50px;
    right: 0;
    top: 0;
    text-align: center;
}

.mc-counter a {
    color: #fff;
}

.mc-comment {
    position: absolute;
    text-align: center;
    top: 108px;
    right: 30px;
}

.mc-counter {
    width: 50px;
    position: absolute;
    text-align: center;
    font-size: 20px;
    font-weight: 700;
    right: 0;
    top: 8px;
}

.most-commented a, .expert-tips a {
    color: #fff;
}

.most-commented  .more-btn {
    margin-bottom: 60px;
}

/* EXPERTS TIPS */

.expert-tips {
    width: 100%;
    float: left;
    padding: 80px 0;
    position: relative;
}

.expert-tips h1, .tipster-corner h1 {
    color: #102944;  
}

.et-article {
    position: relative;
    float: left;
    width: 660px;
    height: 292px;
    margin-right: 40px;
}

.et-article:last-of-type {
    margin-right: 0;
}

.expert-arrow-left, .expert-arrow-right {
    font-size: 72px;
}

.expert-arrow-left i, .expert-arrow-right i {
    color: #0085ca;
    font-size: 72px; 
}

.expert-arrow-left {
    position: absolute;
    left: 300px;
    top: 42%;
}

.expert-arrow-right {
    position: absolute;
    right: 300px;
    top: 42%;
}

.et-article img {
    width: 320px;
    height: 292px;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
}

.et-article h2 {
    font-size: 24px;
    color: #005792;
    margin-left: 340px;
    font-family: roboto;
}

.et-article p {
    margin-left: 340px;
    margin-bottom: 10px;
    position: absolute;
    bottom: 0;
}

/* TIPSTERSKI AGOL */

.tipster-corner {
    width: 100%;
    float: left;
    padding: 80px 0;
    position: relative;
    background: #dadada;
}

.tipster-corner a {
    color: #fff;    
}

.tipster-article {
    float: left;
    width: 431px;
    height: 381px;
    position: relative;
    margin-right: 30px;
    background: #fff;
}

.tipster-article:last-of-type {
    margin-right: 0;
}

.tipster-article img {
    width: 431px;
    height: 186px;
    position: absolute;
}

.tipster-article h2 {
    position: absolute;
    top: 200px;
    left: 20px;
    color: #005792;
    font-family: roboto;
    font-size: 20px;
}

.tipster-article p {
    position: absolute;
    bottom: 20px;
    left: 20px;
}

/* TOP 5 TIKETI */

.tiketi-background {
    width: 100%;
    height: 740px;
    display: inline;
    background: url("../images/tiketi_background.jpg") no-repeat center;
    background-size: 100%;
    position: absolute;
    padding: 80px 0;
}

.top-tiketi {
    float: left;
    width: 100%;
}

.top-tiketi h1 {
    color: #fff;
}

.top-tiketi a {
    color: #fff;
}

.tiket img {
    width: 252px;
    height: 392px;
    margin-right: 22px;
}

.tiket img:last-of-type {
    margin-right: 0;
}

.tiket {
    float: left;
}

/* FOOTER */

.footer {
    margin-top: 740px;
    float: left;
    width: 100%;
    padding: 80px 0 40px 450px;
    background: #dcebf1;    
}

.footer-column {
    float: left;
    width: 260px;
    margin: 0 50px;
}

.footer-column li {
    list-style-type: disc;
    padding: 8px;
    font-size: 16px;
    font-weight: 700;
    color: #00204a;
}

.footer a {
    color: #00204a;
}

.footer i {
    margin-right: 10px;
    font-size: 26px;
    color: #00204a;
}

.footer-column:first-of-type li {
    list-style: none;
}

.footer-sm i {
    font-size: 40px;
    margin-right: 20px;
}

.footer-p {
    width: 100%;
    float: left;
    text-align: center;
    font-size: 12px;
    padding: 0px 0 40px 0;
    background: #dcebf1;
}

/* SLIDER */

.my-slider {
    width: 100%;
    margin-right: 20px;
}
.tns-nav {
    /* display: none; */
}

.tns-visualy-hidden {
    /* display: none; */
}

.tns-controls button[data-controls="prev"] {
    font-size: 100px;
    position: absolute;
    left: 300px;
    top: 48%;
    background: none;
    border: none;
    outline:none;
    color: #0085ca;   
}

.tns-controls button[data-controls="next"] {
    font-size: 100px;
    position: absolute;
    right: 300px;
    top: 48%;
    background: none;
    border: none;
    outline:none;
    color: #0085ca;
}

.tns-controls button[data-action="stop"] {
    background: #efefef;
    border: none;
}

.tns-visually-hidden {
    display: none;
}